<form (submit)="onSubmit()" #f="ngForm">
  <h3>Use the form below to edit your profile.</h3>
  <label for="nameInput">Name</label>
  <input type="text" name="nameInput" [(ngModel)]="nameChange" id="" required />
  <label for="contactInput">Contact</label>
  <input
    type="email"
    name="contactInput"
    [(ngModel)]="contactChange"
    required
  />
  <label for="bioInput">Bio</label>
  <textarea
    name="bioInput"
    [(ngModel)]="bioChange"
    id=""
    cols="30"
    rows="10"
    required
  ></textarea>
  <input type="submit" value="Update" />
</form>
